#wrap1, #wrap2{
  margin-top: 50px;
  width: 500px;
  float: left;
}

#wrap2{ background: red; height: 200px; }

.drag{ 
  background: green; 
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.ok{ border: 5px #eee solid ; }

.clear{ clearfix: both; }

/*#caja{

	background:#98bf21;
	float: left;

	
}*/
#caja {
    position: absolute;
    background-color: #abc;
    left: 50px;
    width: 350px;
    height: 50px;
    margin: 5px;
  }
/*.resp
{
	float: right;
	background-color: red;

	
}*/
.resp {
    position: relative;
    background-color: #abc;
    width: 40px;
    height: 50px;
    float: right;
    margin: 5px;
  }